.c-nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 2.4rem;
	width: 1.4rem;
	margin-right: 2rem;
	margin-top: 2rem;
	z-index: 999999;

	&_link {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		transition: 600ms ease;

		&:hover {
			transform: rotate(180deg);

			.c-nav_burger-top,
			.c-nav_burger-bottom {
				background-color: $light;
			}
		}

		height: 100%;
		width: 100%;
	}

	&_burger-top,
	&_burger-bottom {
		width: 100%;
		height: 2px;
		background-color: $dark;
	}
}
