.c-nav {
	height: 4rem;
	width: 4rem;
	z-index: 999;

	@include media("<=tablet") {
    margin-right: 2rem;
  }

	&_link {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		transition: 600ms ease;
		position: relative;
		height: 100%;
		width: 100%;

		&:hover {
			transform: rotate(180deg);
		}
	}
}

.c-nav_link {
	.c-nav_burger {
		width: 28%;
		height: 23%;
		position: relative;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: "";
			width: 100%;
			height: 2px;
			background-color: $dark;
			transform-origin: center;
			transition: 200ms ease;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 100%;
			height: 2px;
			background-color: $dark;
			transform-origin: center;
			transition: 200ms ease;
		}
	}
}

.c-nav.is-active {
	.c-nav_circle {
		transform: scale(0.9);
	}
	.c-nav_drawer {
		transform: scaleX(1);
		opacity: 1;

		a {
			transform: translate(0);
			opacity: 1;
			position: relative;

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $light;
				content: "";
				transform-origin: left;
				transform: scaleX(0);
				transition: 400ms ease;
			}

			&:hover {
				transform: translateY(-20%);

				&::after {
					transform: scaleX(1);
				}
			}
		}
	}

	.c-nav_burger::after {
		top: 50%;
		transform: rotate(-45deg);
	}

	.c-nav_burger::before {
		top: 50%;
		transform: rotate(45deg);
	}
}

.c-nav_drawer {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	background-color: $dark;
	height: 100%;
	border-radius: 50px;
	z-index: -2;
	transform-origin: right;
	transform: scaleX(0.02);
	opacity: 0;
	transition: $transition;
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	color: $light;

	&__inner {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding-right: 3rem;

		a {
			font-family: "Soehne";
			text-transform: uppercase;
			transform: translateX(100%);
			opacity: 0;
			transition: 200ms ease;
		}
	}
}

.c-nav_circle {
	position: absolute;
	top: 0;
	left: 0;
	background-color: $light;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	// transform: scale(0);
	z-index: -1;
	transition: 200ms ease;
}

.c-nav.-desktop {
	width: auto;
	height: 100%;

	ul {
		display: flex;
		align-items: center;
		height:100%;
		font-size: 1.2rem;
		color: $grey;


		li {

			transition: 400ms ease;

			&:hover {
				color: $dark;
			}
		}

		li:not(:last-child) {
			margin-right: 2.2rem;
		}
		
		li.is-active {
			color: $dark;
		}
	}
}
