.o-introCard {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $dark;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Haas';
  font-size: 9vw;
  line-height: 9vw;
 
}