.o-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	// display: none;
	z-index: 99999;

	.c-planet {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	svg {
		height: 100%;
		width: 100%;
		display: flex;
		fill: $blue;
		position: absolute;
	}

	.o-loader_text {
		color: $light;
		font-family: "Soehne";
		font-size: 10vw;
	}

	.u-gsap-fill-animate {
		fill: $light;
	}

	.u-gsap-stroke-animate {
		stroke: $light;
	}
}

.o-loader.is-first-visit {
	.o-loader_background {
		transform: none;
	}
}
