.o-about {
	padding-top: 10rem;
}

.o-about .o-about_content {
	display: flex;

	@include media("<=tablet") {
		flex-direction: column;

		.o-about_image {
			height: 38vw;
		}

		.o-about_image,
		.o-about_text {
			width: 100%;
      padding: 0;
		}
	}

	.o-h2,
	.o-h3,
	.o-text {
		margin: 2rem 0;
	}
}

.o-about_image {
	width: 40%;
}

.o-about_text {
	padding-left: 2rem;
	width: 60%;
}

.o-about_image {
	height: 50rem;
	background-position: center;
	background-size: cover;
}
