.o-preFooter {
	.o-text {
		width: 50%;
		margin-left: auto;
		font-family: "Haas";
		font-size: 4vw;
		line-height: 4vw;
	}

	.c-line {
		display: flex !important;
		align-items: center;
		justify-content: space-between;
	}
}

.o-page_home {
	transform: translateY(100vh);


	.o-about {
		display: flex;

		&_left,
		&_right {
			width: 50%;
			height: 60vw;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		&_right {
			background-color: $dark;
		}

		&_left {
			background-color: $deepGreen;
		}

		&_image {
			height: 70%;
			width: 60%;
		}
	}

	.c-section {
		width: 100%;
	}

	.o-hero {
		overflow: hidden;
		box-sizing: border-box;
		position: relative;
		height: 100vh;
		// padding-top: $headerHeight;
		.inner {
			width: 100%;
			color: $light;
		}

		&_content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 99;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.bar-center {
				.location {
					width: 20rem;
					height: 8rem;
					background-color: $dark;
					left: 0;
					position: absolute;
					border-top-right-radius: 5rem;
					border-bottom-right-radius: 5rem;
					top: 0;
					padding: 1rem;
					display: flex;
					align-items: center;
					justify-content: flex-end;

					&_text {
						margin-right: 10%;
						color: $light;
						font-size: 1.3rem;
						font-family: "Haas";
						
					}

				
				}
					.o-text .role {
						margin-right: 3rem;
					}
			}
		}

		&_image {
			height: 100%;
			width: 100%;
			position: relative;

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $dark;
				content: '';
				opacity: 0.3;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				filter: brightness(110%) blur(20px);
			}
		}

		.c-icon {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			svg {
				height: 50vw !important;

				path {
					stroke-width: 2px !important;
					stroke: $dark !important;
				}
			}
		}

		.o-container {
			height: calc(100vh - #{$headerHeight});
			width: 100%;
		}

		&_self {
			width: 30%;
			height: 40vw;
			overflow: hidden;
			position: relative;

			.c-icon {
				position: absolute;
				top: 10vw;
				width: 20vw;

				svg {
					height: 100% !important;
				}

				ellipse {
					fill: $dark;
					stroke: none;
				}
			}

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&_featuredWork {
			height: 30vw;

			&_card {
				height: 100%;
				width: 50%;
				overflow: hidden;

				&:hover .-text-tiny,
				&:hover .c-icon {
					transform: none !important;
					opacity: 1 !important;
				}

				&::after {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					width: 100%;
					height: 100%;
					transform-origin: bottom;
					background-color: $dark;
				}

				.image {
					width: 100%;
					height: 90%;

					transform-origin: center;

					&:first-child {
						background-color: $blue;
					}
					&:nth-child(2) {
						background-color: $dark !important;
					}

					img {
						transform: scale(0.8);
						object-fit: cover;
						height: 100%;
						width: 100%;
					}
				}

				.cta {
					display: flex;
					width: 100%;
					height: 10%;

					align-items: center;
					justify-content: space-between;

					.c-icon {
						transform: translateX(-100%);
						opacity: 0;
						transition: 600ms ease;
					}

					.-text-tiny {
						transform: translateY(-50%);
						opacity: 0;
						transition: 600ms ease;
					}
				}

				&:nth-of-type(1) {
					margin-right: 1rem;
				}
			}

			@include media("<=tablet") {
				height: 100vw;
				flex-direction: column;

				&_card {
					width: 100%;
				}
			}
		}

		&_cta {
			.line {
				&::before {
					content: "";
					height: 100px;
					width: 1px;
					content: "";
					background-color: $dark;
				}
			}

			position: absolute;
			bottom: 10%;
			left: 50%;
			transform: translateX(-50%);
		}

		.o-h2 {
			.c-char {
				transform: translateY(100%);
			}
		}

		.o-h1 {
			position: relative;
			overflow: visible;
			font-size: 5vw;
			line-height: 5vw;
			font-family: "Haas";
			text-transform: none;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.o-sticky {
	min-height: 100vh !important;
	&_inner {
		position: relative;
	}

	.o-intro {
		clip-path: url(#c-blob_clip);
		z-index: 99;
	}

	.c-blob {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		path {
			transform-origin: center;
			transform: scale(0.004);
		}

		clipPath {
			transform: scale(0.004);
			transform-origin: center;
		}
	}
}
