.c-button {
	font-size: 1rem;
	line-height: 4rem;
	font-family: "Haas";
	border: 1px solid $light;
	padding: $space-sm calc(#{$space-sm} + 1rem);
	border-radius: 50px;

	overflow: hidden;

	.button-circle {
		width: 24rem;
		background-color: $blue;
		border-radius: 50%;
		height: 15rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		transition: $transition;
	}

	&:hover .button-circle {
		transform: translate(-50%, -50%);
	}

	&:hover {
		background-color: $dark;
		color: $light;
	}
}

.c-button.selected {
	background-color: $dark;
	color: $light;
}

.c-button_number {
	font-size: 30%;
	position: absolute;
	top: -2em;
	right: -0.5em;
}
