.o-page_about {
	.o-about_bio {
		height: 40vh;

		h3 {
			width: 50%;
		}

		@include media("<=tablet") {
			flex-direction: column;

			.o-h3 {
				width: 100%;
			}
		}
	}
}

.o-page_about {
	padding-top: 10rem;
}

.o-about_image {
	overflow: hidden;
	width: 40%;
	position: relative;

	&:hover img {
		filter: blur(0px);
	}

	&:hover .c-planet {
		opacity: 0;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 500ms ease;
	}

	// .c-planet {
	// 	position: absolute;
	// 	display: none;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);

	// 	path:last-child {
	// 		fill: $dark !important;
	// 	}
	// }
}

// .o-about_text {
// 	padding-left: 4rem;
// 	width: 60%;
// }

.o-about_extendedBio {
	display: flex;
	flex-direction: row-reverse;

	> div,
	> .o-text {
		width: 50%;
	}

	@include media("<=tablet") {
		flex-direction: column;

		.o-about_image,
		.o-text {
			width: 100%;
		}
	}

	.o-text {
		height: auto;
		align-self: flex-end;
		font-size: 1.4rem;
		padding-right: 2rem;
	}
}

.o-about_image {
	height: 50rem;
	width: 50%;
	background-position: center;
	background-size: cover;
}
