.o-page_home {
	.o-about {
		display: flex;

		&_left,
		&_right {
			width: 50%;
			height: 60vw;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		&_right {
			background-color: $dark;
		}

		&_left {
			background-color: $deepGreen;
		}

		&_image {
			height: 70%;
			width: 60%;
		}
	}

	

	.c-section {
		width: 100%;
	}

	.o-container {
		width: 100%;
	}
	.o-hero {

		&_cta {
			.line {
				&::before {
					content: "";
					height: 100px;
					width: 1px;
					content: "";
					background-color: $dark;
				}
			}

			position: absolute;
			bottom: 10%;
			left: 50%;
			transform: translateX(-50%);
		}

		.o-h1 {
			position: relative;
			overflow: visible;
			width: 100%;
			text-align: center;

			span {
				display: block;
			}

			span:not(:first-child) {
				position: absolute;
				width: 100%;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
			}
		}
	}
}

.o-sticky {
	min-height: 100vh !important;
	&_inner {
		position: relative;
	}

	.o-intro {
		clip-path: url(#c-blob_clip);
		z-index: 99;
	}

	.c-blob {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		path {
			transform-origin: center;
			transform: scale(0.004);
		}

		clipPath {
			transform: scale(0.004);
			transform-origin: center;
		}
	}
}
