.c-icon {


	display: inline-block;
	position: relative;
	overflow: hidden;

	&_inner {
		display: flex;
		align-items: center;
		justify-content: center;
	}


		
	.c-icon_svg_star {
		path {
			stroke-width: 6px !important;
		stroke: currentColor;
		}
	}
	

	&_svg {
		stroke-width: 4px;
		height: 2.5vw !important;
	
		

		&_arrow {
			stroke: currentColor;
			stroke-width: 1px;
			width: 5vw;

			&:nth-of-type(2) {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateX(-100%);
				
			}
		}

		&_eyes {
			height: 100%;

			&--eye {
				stroke: currentColor;
				stroke-width: 5px;
				fill: none;
			}

			&--pupil {
				fill: currentColor;
			}
		}
	}
}
