.o-accent {
	transition: $transition;

	position: relative;

	z-index: 1;
	position: sticky;

	&.is-in-view {
		animation: accentColorAnim 2s ease;

		&::after {
			animation: accentTranslateAnim 2s ease;
		}
	}

	&::after {
		transition: $translate-transition;
		transition-delay: 0.4s;
		background-color: $dark;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		transform: scaleY(0);
		transform-origin: top;
	}
}
