.o-container {
	margin: 0 auto;
	max-width: 1920px;
	padding: 0 4.5rem;

	@include media("<=phoneL") {
		padding: 0 2rem;
	}
}

.o-container.-mobile-padding-none {
	@include media("<=tablet") {
		padding: 0;
	}
}
