

.o-h2 {
  margin: 0;
  text-align: center;
  
  text-transform: uppercase;
  font-size: 10vw;

  &, & * {
    font-family: 'Kobe';
  }

  @include media("<=tablet") {
		font-size: 10vw;
    line-height: 9vw;
		
	}

  @include media(">=desktop") {
    font-size: 9rem;
    line-height: 9rem;
  }


}

