



@media (max-width:699px) {
  .o-h2,
  h2 {
      font-size: 3rem;
      line-height: 1.11111
  }
}
@media (min-width:700px) and (max-width:1599px) {
  .o-h2,
  h2 {
      font-size: 8rem;
      line-height: 1.11111
  }
}
@media (min-width:1600px) {
  .o-h2,
  h2 {
      font-size: 8rem;
      line-height: 1.08333;
      
  }
  
}


.o-h2 {
  margin: 0;

  @include media("<=tablet") {
		font-size: 10vw;
		
	}


}

