.o-text {
  font-family: 'Soehne';
  font-size: 1.1rem;
  line-height: 1.8rem;

  &.-medium {
    font-size: 3rem;
    line-height: 3rem;
  }
  
  &.-big {
    font-size: 5.2rem;
    line-height: 5.6rem;

    @include media("<=tablet") {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
}