.o-text {
	&.-huge {
		font-size: 20vw;
		line-height: 18vw;
		text-align: center;
	}

	font-family: "Riposte";
	font-size: 3vw;
	line-height: 3.6vw;
	margin: 1rem 0;

	@include media("<=tablet") {
		font-size: 5vw;
		line-height: 5vw;
	}

	&.-medium {
		font-size: 3rem;
		line-height: 3rem;
		font-weight: 500;
		margin: 0;
	}

	&.-big {
		font-size: 5.2rem;
		line-height: 5.6rem;
		margin: 0;

	}
}
