.c-filter {
	margin: $space-lg 0;
	flex-wrap: wrap;
	gap: 0.7rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	@include media("<=tablet") {
		justify-content: center;
	}
}

.c-filter_item {
	height: auto;

	button {
		background: transparent;
		border: 0px;
		font-size: 2.2rem;
		
		font-family: Soehne;
		border: 1px solid $dark;
		border-radius: 50px;
		padding: 0.4rem 0.8rem;
		text-transform: uppercase;

		&:hover {
			background-color: $dark;
			color: $light;
		}

		&.is-active {
			background-color: $dark;
			color: $light;
		}
	}
}
