.o-footer {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include media("<=tablet") {
		height: 120vw;
	}
}

.o-footer_text-switch {
	overflow: hidden;
}

.o-footer_contact {
	position: relative;
	width: 100%;

	h4 {
		margin-bottom: 2rem;
	}
}

.o-footer_bottom {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: 2rem;
	max-width: 1900px;

	.o-h4 {
		margin: 0;
	}

	@include media("<=tablet") {
		.o-container {
			flex-direction: column;
			align-items: flex-start;
		}

		.o-h4 {
			margin: 1.5rem 0;
			font-size: 1.1rem;
		}
	}
}
