.o-footer {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include media("<=tablet") {
		height: 120vw;
	}
}

.o-footer_heading {
	overflow: hidden;
}

.o-footer_text-switch {
	display: inline;
	overflow: hidden;
	opacity: 0;

	@include media("<=tablet") {
		display: block;
	}
}

.o-footer_contact {
	position: relative;
	width: 100%;

	h2 {
		margin-bottom: 2rem;
	}
}

.o-footer_bottom {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: 2rem;
	max-width: 1900px;

	.o-h3 {
		margin: 0;
	}

	@include media("<=tablet") {
		.o-container {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

.o-footer_btn-container {
	position: relative;
	height: 15vw;
	width: 20%;
}


