.c-cursor {
	height: 4rem;
	width: 4rem;

	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
	border: 2px solid $light;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	&.is-hover-cursor {
		border: none;
	}

	&_point {
		height: 9px;
		width: 9px;
		border-radius: 50%;
		background-color: $light;
	}
}
