.c-cursor {
	height: 3rem;
	width: 3rem;

	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	&_outline {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		border: 2px solid $light;
		transition: 400ms ease;
	}

	&_point {
		height: 9px;
		width: 9px;
		border-radius: 50%;
		background-color: $light;
	}

	&.is-hover-cursor {
		.c-cursor_outline {
			opacity: 0;
			transform: scale(0.001);
		}
	}
}
