

.c-slider {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;


	&_list {
		width: 100%;
		display: flex;
    justify-content: space-around;
    height: 70%;
	}

	&_item {
		height: 35vw;
		width: 24vw;
		overflow: hidden;
		margin-right: 2vw;
    position: relative;
	}
}

.c-slider_img {
	height: 100%;
	width: 30vw;
  position: absolute;
  background-size: cover;
  background-position: center;
}
