* {
	-webkit-font-smoothing: antialiased;
	font-weight: lighter;
	box-sizing: border-box;
}

.is-desktop * {
	cursor: none;
}

.c-link {
	cursor: none;

	&_label {
		overflow: hidden;
	}
}

@font-face {
	font-family: "Riposte";
	src: url(../../fonts/GTFRiposteTRIAL-Regular.otf);
	font-weight: 500;
}

@font-face {
	font-family: "Riposte Bold";
	src: url(../../fonts/GTFRiposteTRIAL-Medium.otf);
}

@font-face {
	font-family: "Riposte Light";
	src: url(../../fonts/GTFRiposteTRIAL-Thin.otf);
}

@font-face {
	font-family: "Vanguard";
	src: url(../../fonts/Vanguard.otf);
}

@font-face {
	font-family: "Haas";
	src: url(../../fonts/Haas.otf);
}

@font-face {
	font-family: "FK";
	src: url(../../fonts/FKScreamer.otf);
}

.App {
	transition: 500ms ease;
}

.is-loading {
	overflow: hidden;
}

main {
	transition: 400ms ease;
}

.is-dom-loaded main {
	opacity: 1;
}

h1,
h2 {
	&,
	& div {
		text-transform: uppercase;
	}
}

a {
	font-family: "Riposte";
}

h3,
h4,
h5,
h6 {
	&,
	& div {
		font-family: "Riposte";
	}
}

.o-h1.-split,
.o-h2.-split,
.o-h3.-split,
.o-h4.-split {
	> div {
		overflow: hidden;
	}
}

.c-heading.-h2 {
	font-size: 2rem;
}

body {
	margin: 0;
	overflow-x: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

.line-wrapper {
	overflow: hidden;
}

@media (max-width: 699px) {
	html {
		font-size: 12px;
	}
}
@media (min-width: 700px) and (max-width: 1024px) {
	html {
		font-size: 13px;
	}
}
@media (min-width: 1025px) and (max-width: 1199px) {
	html {
		font-size: 13px;
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	html {
		font-size: 14px;
	}
}
@media (min-width: 1400px) and (max-width: 1599px) {
	html {
		font-size: 15px;
	}
}
@media (min-width: 1600px) and (max-width: 1999px) {
	html {
		font-size: 17px;
	}
}
@media (min-width: 2000px) and (max-width: 2399px) {
	html {
		font-size: 19px;
	}
}
@media (min-width: 2400px) {
	html {
		font-size: 21px;
	}
}

.App {
	transition: background-color 400ms ease;
}
