.c-header {
	padding: 6em 0;
}

.c-header_content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: end;
	justify-content: space-between;

	@include media("<=tablet") {
		flex-direction: column;
		align-items: start;
		justify-content: end;

		.-text-tiny {
			padding-top: 1rem;
			left: 0;
			justify-content: end;
		}
	}

	.-text-tiny {
		width: 200px;
	}
}
