header.is-page-about,
header.is-page-work {
	.LinkCircle path {
		stroke: black;
	}

	color: black;
}

.floater-visible {
	color: white !important;

	.LinkCircle path {
		stroke: white !important;
	}
}

.categories-bar .LinkCircle path {
	stroke: black;
}
