@mixin sectionLayoutOne {
  width: calc(100% - 10rem);
  max-width: 1766px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  height: 100%;

  @media screen and (max-width: $tablet) {
    width: calc(100% - 5rem);
  }
}