@import "vars";
@import "./breakpoints";
//Utility classes

.-padding-huge {
	padding: $space-xxxl 0;
}

.-padding-top-huge {
	padding-top: $space-xxxl;
}

.-padding-bottom-huge {
	padding-bottom: $space-xxxl;
}

.-ml-auto {
	margin-left: auto;
}


.-mr-auto {
	margin-right: auto;
}

.-flex {
	display: flex;
}

.-align-center {
	align-items: center;
}

.-ul-horizontal {
	display: flex;
}

.-ul-horizontal-spacing-md {
	li {
		margin-right: var(--space-md);
	}
}

.-split {
	overflow: hidden;

	div {
		transform: translateY(100%);
		opacity: 0;
	}
}

.-align-end {
	align-items: end;
}

.-absolute {
	position: absolute;
}

.-relative {
	position: relative;
}

.-justify-center {
	justify-content: center;

	h1 {
		display: none;
	}
}
.-fullWidth {
	width: 100%;
}

.-halfWidth {
	width: 50%;
}

.-fullHeight {
	min-height: 100vh;
}

.-justify-between {
	justify-content: space-between;
}

.-bg-light {
	background-color: #ffffff;
}

.-bg-purple{
	background-color: $purple;
	color: $pink;
}

.-bg-pink {
	background-color: #f1b9b8;
}

.-bg-dark {
	background-color: #1e1e1e;
}

.-bg-yellow {
	background-color: #faf281;
}

.-bg-black {
	background-color: black;
}

.-ul-small,
.-text-tiny {
	font-size: 0.8rem;
}

.-indent {
	text-indent: 30%;
}

.-text-big {
	font-size: 2rem;

	@include media(">=tablet") {
		font-size: 5rem;
	}
}

.-text-small {
	font-size: 1.4rem;
	line-height: 1.8rem !important;

	@include media(">=tablet") {
		font-size: 2.8rem;
		line-height: 3rem !important;
	}
}


//ITCSS Utilies
.u-gsap-fill-animate {
	opacity: 0;
}
