@import "./breakpoints";

//Spacing
$space-unit: 2rem;
$space-xxs: calc(0.25 * $space-unit); // 4px
$space-xs: calc(0.5 * $space-unit); // 8px
$space-sm: calc(0.75 * $space-unit); // 12px
$space-md: calc(1.25 * $space-unit); // 20px
$space-lg: calc(2 * $space-unit); // 32px
$space-xl: calc(3.25 * $space-unit); // 52px

@include media("<=tablet") {
	$space-xxl: calc(3 * $space-unit);
}

@include media("<=phone") {
	$space-xxl: calc(1 * $space-unit);
}

@include media(">=tablet") {
	$space-xxl: calc(5.25 * $space-unit); // 84px
}

//Colors
$light: #ffffff;
$dark: #1e1e1e;
$dark2: #23252b;
$lighterDark: #111111;
$red: #df181f;
$green: #c0ff0d;
$blue: rgb(78, 140, 162);
$yellow: #faf281;
$pink: #f1b9b8;
$orange: rgb(231, 100, 53);
$grey: rgb(207, 207, 207);
$purple: #5b487c;
$gradient: linear-gradient(
	#516dc1,
	#ce4469,
	#ce4469,
	#fb986c,
	#fb986c,
	#a99af4,
	#a99af4,
	#2fd8a8,
	#2fd8a8,
	#009b8e,
	#009b8e,
	#516dc1,
	#516dc1,
	#ce4469
);

//Transition
$transition: 300ms ease;
