:root {
	//Spacing
	$space-unit: 2em;
	$space-xxs: calc(0.25 * var(--space-unit)); // 4px
	$space-xs: calc(0.5 * var(--space-unit)); // 8px
	$space-sm: calc(0.75 * var(--space-unit)); // 12px
	$space-md: calc(1.25 * var(--space-unit)); // 20px
	$space-lg: calc(2 * var(--space-unit)); // 32px
	$space-xl: calc(3.25 * var(--space-unit)); // 52px
	$space-xxl: calc(5.25 * var(--space-unit)); // 84px

	//Colors
	$light: "#FFFFFF";
	$dark: "#1E1E1E";
	$dark2: "#23252B";
	$lighterDark: "#111111";
	$red: "#DF181F";
	$green: "#C0FF0D";
	$blue: "rgb(78, 140, 162)";
	$yellow: "#faf281";
	$pink: "#f1b9b8";
	$orange: "rgb(231, 100, 53)";
	$grey: "rgb(207, 207, 207)";
	$purple: "#5b487c";
	$gradient: "linear-gradient(#516dc1,#ce4469,#ce4469,#fb986c,#fb986c,#a99af4,#a99af4,#2fd8a8,#2fd8a8,#009b8e,#009b8e,#516dc1,#516dc1,#ce4469)";
}
