@import "./breakpoints";

//Spacing
$space-unit: 2rem;
$space-xxs: calc(0.25 * 2rem); // 4px
$space-xs: calc(0.5 * 2rem); // 8px
$space-sm: calc(0.75 * 2rem); // 12px
$space-md: calc(1.25 * 2rem); // 20px
$space-lg: calc(2 * 2rem); // 32px
$space-xl: calc(3.25 * 2rem); // 52px
$space-xxl: calc(3 * 2rem);
$space-xxxl: calc(7 * 2rem);

@include media("<=tablet") {
	$space-xxl: calc(3 * 2rem);
}

@include media("<=phone") {
	$space-xxl: calc(1 * 2rem);
}

@include media(">=tablet") {
	$space-xxl: calc(5.25 * 2rem); // 84px
}

//Colors
$light: #ffffff;
$dark: #1e1e1e;
$dark2: #23252b;
$lighterDark: #111111;
$red: #df181f;
$green: #c0ff0d;
$blue: rgb(78, 140, 162);
$yellow: #faf281;
$pink: #f1b9b8;
$orange: rgb(231, 100, 53);
$grey: rgb(207, 207, 207);
$purple: #5b487c;
$gradient-primary: linear-gradient(
	#516dc1,
	#ce4469,
	#ce4469,
	#fb986c,
	#fb986c,
	#a99af4,
	#a99af4,
	#2fd8a8,
	#2fd8a8,
	#009b8e,
	#009b8e,
	#516dc1,
	#516dc1,
	#ce4469
);
$gradient-secondary: linear-gradient(
	#5e8649,
	#5e8649,
	#d98b38,
	#b98370,
	#8a86a0
);

//Transition
$transition: 300ms ease;
$translate-transition: opacity 0s cubic-bezier(0.35, 0.755, 0.42, 0.95),
	transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
