@import "vars";
@import "utils";

* {
	-webkit-font-smoothing: antialiased;
	font-family: "Neue Mtl";
	font-weight: lighter;
	box-sizing: border-box;
}

.Container {
	padding: 0 var(--space-sm);
	width: 100%;
	height: 100%;
}

.Home {
	height: 100vh;
}

.Section {
	position: relative;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
}

p,
a:not(li a) {
	font-family: "Haas";
}

.App {
	transition: 500ms ease;
}
