@import "vars";
@import "global";
@import "utils";
@import "footer";
@import "header";
@import "menu";
@import "animations";
@import "objects/o-accent";
@import "objects/o-container";
@import "objects/o-section";
@import "objects/o-h2";
@import "objects/o-h3";
@import "objects/o-h1";
@import "components/c-asteryx.scss";
@import "../../components/Lists/styles/c-project.scss";
@import "../../components/Filter/c-filter.scss";
@import "../../components/Button/c-button.scss";
@import "../../components/Paragraph/c-paragraph.scss";
@import "../../components/Line/c-line.scss";
@import "../../components/Vector/c-planet.scss";
@import "../../components/pages/o-planets.scss";
@import "../../components/Arrow/c-arrow.scss";
@import "../../components/Form/c-form.scss";
@import "../../components/pages/o-home-hero.scss";
@import "../../components/Grid/c-grid.scss";
@import "../../components/Footer/o-footer.scss";
@import "../../components/CursorFollower/c-follower.scss";
@import "../../components/Transition/o-loader.scss";
@import "../../components/Nav/c-nav.scss";

.Home {
	height: 100vh;
}

.Section {
	position: relative;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
