@import "vars.module.scss";
@import "global";
@import "utils";
@import "footer";
@import "header";
@import "menu";
@import "animations";
@import "objects/o-accent";
@import "objects/o-container";
@import "objects/o-section";
@import "objects/o-h2";
@import "objects/o-h3";
@import "objects/o-h1";
@import "objects/o-text";
@import "objects/o-single-project";
@import "objects/o-page";
@import "components/c-asteryx.scss";
@import "../../components/Lists/styles/c-project.scss";
@import "../../components/Filter/c-filter.scss";
@import "../../components/Button/c-button.scss";
@import "../../components/Paragraph/c-paragraph.scss";
@import "../../components/Vector/c-planet.scss";
@import "../../components/pages/o-planets.scss";
@import "../../components/Arrow/c-arrow.scss";
@import "../../components/Form/c-form.scss";
@import "../../components/pages/o-home-hero.scss";
@import "../../components/pages/o-home_work.scss";
@import "../../components/pages/o-home_values.scss";
@import "../../components/pages/o-about.scss";
@import "../../components/Grid/c-grid.scss";
@import "../../components/Footer/o-footer.scss";
@import "../../components/CursorFollower/c-follower.scss";
@import "../../components/Transition/o-loader.scss";
@import "../../components/Nav/c-nav.scss";
@import "../../components/Button/c-circle-button.scss";
@import "../../components/Logo/c-logo.scss";
@import "../../components/Spinner/c-spinner-card.scss";
@import "../../components/Eyes/eyes.scss";
@import "../../components/Revealer/c-revealer.scss";
@import "../../components/Layouts/o-split-section.scss";
@import "../../components/Layouts/o-wave-section.scss";
@import "../../components/Layouts/o-heading-section.scss";
@import "../../components/Cursor/c-cursor.scss";
@import "../../components/Wave/c-wave.scss";

.Home {
	height: 100vh;
}

.Section {
	position: relative;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

[data-theme="fancy"] {
	color: $dark;
	background-color: $beige;
	$accent: $yellow;

	*::before, *::after {
		background-color: $dark;
	}
	
	.-bg-current {
		background-color: $beige;
	}

	.-accent {
		color: $dark;
		background-color: $accent;
	}
}

[data-theme="regular"] {
	color: $dark;
	background-color: $light;
	

}


.-fill-blue {
	fill: #3A8696;
}

.-fill-beige {
	fill: $beige;
}

.-fill-light {
	fill: $light;
}



[data-theme="orangeCrush"] {
	background-color: $orange;
	color: $pink;
	fill: $pink;

	*::before, *::after {
		background-color: $pink;
	}
}

[data-theme="banana"] {
	background-color: $yellow;
	color: $dark;
	fill: $dark;

	*::before, *::after {
		background-color: $dark;
	}
}

[data-theme="icon"] {
	background-color: $light;
	color: $green;
	fill: $green;

	*::before, *::after {
		background-color: $green;
	}
}


[data-theme="superstar"] {
	background-color: $deepGreen;
	color: $hotPink;
	fill: $hotPink;

	*::before, *::after {
		background-color: $hotPink;
	}
}


[data-theme="party"] {
	background-color: $pink;
	color: $orange;

	*::before, *::after {
		background-color: $orange;
	}

	.-accent {
		color: $light;
		background-color: $beige;
	}
}

[data-theme="power"] {
	background-color: $pink;
	color: $blue;

	.-accent {
		color: $light;
		background-color: $beige;
	}

	*::before, *::after {
		background-color: $blue;
	}
}

[data-theme="blue"] {
	background-color: $blue;
	color: $light;
	
	*::before, *::after {
		background-color: $light;
	}
	.c-filter_item button.is-active {
		color: $dark;
		background-color: $light;
	}

	.c-filter_item button {
		border: 1px solid $light !important;
	}
}

[data-theme="purple"] {
	background-color: $purple;
	color: $pink;
	fill: $pink;

	*::before, *::after {
		background-color: $pink;
	}
}

[data-theme="sunny"] {
	background-color: $yellow;
	color: $dark;
	fill: $dark;
	
	*::before, *::after {
		background-color: $dark;
	}
}

[data-theme="dark"] {
	background-color: $dark;
	color: $light !important;
	fill: $light;

	*::before, *::after {
		background-color: $light;
	}

	.c-filter_item button.is-active {
		color: $dark;
		background-color: $light;
	}

	.c-filter_item button {
		border: 1px solid $light !important;
	}
}

[data-scroll-sticky="headingIntro"] {
	.o-sticky-heading {
		transform: translateX(200%);
	}
}
