// Section bg colors

.entry-screen {
  background-color: lighten($pink, 10%);
  color: $orange;
}

.section-hero {
  background-color: $pink;
  color: $orange;
}


.section-about {
  background-color: $purple;
  color: $pink;
}


.section-featuredWork {
  background-color: $grey;
  color: $light;

  .wave path {
    fill: $purple;
  }
}