// Section bg colors

.section-hero {
  background-color: $pink;
  color: $orange;
}


.section-about {
  background-color: $purple;
  color: $pink;
}


.section-featuredWork {
  background-color: $dark;
  color: $light;
}