.btn-circle__circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: -1;
}

button.btn-regular {
	text-transform: uppercase;
	border: 0px;

	@media screen and (max-width: $tablet) {
		width: 6.5rem;
		height: 3rem;
		border: 0px;
		font-size: 1rem;
	}

	@media screen and (min-width: $tablet) {
		width: 9rem;
		height: 4rem;
		border: 0px;
		font-size: 1.3rem;
	}

	@media screen and (min-width: $laptop) {
		width: 18rem;
		height: 6rem;
		border: 0px;
		font-size: 1.3rem;
		text-transform: uppercase;
	}
}

#contactCta {
	bottom: 0;
	right: 0;
	position: fixed;
}

.btn-group {
	margin-top: 2rem;

	button:nth-of-type(1) {
		margin-right: 2rem;
	}
}

.btn-regular {
	&:hover .mouseOver-circle {
		transform: scale(4);
	}

	.mouseOver-circle {
		transition: 1s ease;
		position: absolute;
		width: 200px;
		height: 200px;
		background-color: $yellow;
		z-index: -1;
		top: 50%;
		left: -50%;
		transform: scale(0.2);
		border-radius: 50%;
	}
}

.btn-regular {
	overflow: hidden;
	position: relative;
}

button {
	z-index: 0;
}

.button-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.app-footer {
	height: 100vh;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: $purple;
	z-index: -1;
	padding: 10rem;
	color: $pink;
}

main {
	position: sticky;
	margin-bottom: 100vh;
}
