.title_heading {
	span:not(:nth-of-type(1)) {
		opacity: 0;
	}
}

.entry-screen {
	h2 {
		@media screen and (min-width: $mobileL) {
			font-size: 3rem;
		}

		@media screen and (min-width: $mobileS) {
			font-size: 2rem;
		}
		@media screen and (min-width: $laptop) {
			font-size: 3.6rem;
		}
	}
}

.cursor {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: $light;
	position: fixed;
	top: 0;
	z-index: 99999;
	transform: translate(-50%, -50%);
}

.transition-clipPath {
	position: absolute;
}

#transition-clipPath__clip {
	transform: scale(0.00105, 0.0019);

	path {
		height: 100%;
	}
}

#cursor-follower {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $light;
	opacity: 0.8;
}

form {
	padding: 0 4rem;
	width: 90vw;
	


	input {
		height: 2em;
		padding: 1em;
		

	}

	input, textarea {
		font-family: 'Opposit';
		margin-bottom: 2rem;
		border: 0px;
		background: transparent;
		border-bottom: 1px solid $light;
		color: $light;
		font-size: 3rem;
		padding: 0;

		&:focus {
			outline: none;
		}
	}
}

#contactCta {
	position: fixed;
	bottom: 0;
	right: 0;
	border: none;
	background-color: transparent;
	margin: $gutterLarge;
	z-index: 99999;

	.btn__circle {
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.contactCta__pencil, .contactCta__close {
		z-index: 2;
		transition: 300ms ease;
	}

	.contactCta__close {
		fill: $light;
	}

	@media screen and (min-width: $mobileL) {
		width: 100%;
		height: 100%;

		.contactCta__pencil {
			width: 20px;
		}
	}

	@media screen and (min-width: $tablet) {
		width: 100px;
		height: 100px;
		.contactCta__pencil {
			width: 30px;
		}

		.contactCta__close {
			width: 40px;
		}
	}

	@media screen and (min-width: $desktop) {
		width: 150px;
		height: 150px;
	}
}

#modal {
	z-index: 9999;
	clip-path: url(#transition-clipPath__clip);
}

.modal__contact__heading {
	font-size: 4rem;
	letter-spacing: 0.1rem;
}

.modal__contact__info-wrapper {
	
	.info-group__location {
		font-size: 16vw;
		line-height: 13vw;
		
		

		span {
			font-family: 'FK';
			display: block;
			width: 100%;
		

		}
	}

}

