.title_heading {
	span:not(:nth-of-type(1)) {
		opacity: 0;
	}
}

.entry-screen {
	h2 {
		@media screen and (min-width: $mobileL) {
			font-size: 3rem;
		}

		@media screen and (min-width: $mobileS) {
			font-size: 2rem;
		}
		@media screen and (min-width: $laptop) {
			font-size: 3.6rem;
		}
	}
}

.cursor {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: $light;
	position: fixed;
	top: 0;
	z-index: 99999;
	transform: translate(-50%, -50%);
}

.transition-clipPath {
	position: absolute;
}

#transition-clipPath__clip {
	transform: scale(0.00105, 0.0019);

	path {
		height: 100%;
	}
}


#cursor-follower {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $light;
	opacity: 0.8;
}

#contactCta {
	position: fixed;
	bottom: 0;
	right: 0;
	border: none;
	background-color: transparent;
	margin: $gutterLarge;

	.btn__circle {
		background-color: $light;
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: 50%;
	}



	.contactCta__pencil {
			z-index: 2;
		}



	@media screen and (min-width: $mobileL) {
		width: 100%;
		height: 100%;

		.contactCta__pencil {
			width: 20px;
		}
	}

	@media screen and (min-width: $tablet) {
		width: 100px;
		height: 100px;
		.contactCta__pencil {
			width: 30px;
		}
	}

	@media screen and (min-width: $desktop) {
		width: 150px;
		height: 150px;
		
	}

	
}



#modal {
	background-color: $light;
	z-index: 9999;
	display: none;
}