.title_heading {
  span:not(:nth-of-type(1)) {
    opacity: 0;
  }
}

.entry-screen {
	h2 {
		font-size: 8vw;
	}
}

.cursor {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: $light;
	position: fixed;
	top: 0;
	z-index: 99999;
	transform: translate(-50%, -50%);
}

.transition-clipPath {
	position: absolute;
}

#transition-clipPath__clip {
	transform: scale(0.00105, 0.0019);

	path {
		height: 100%;
	}
}