.-p-large {
	font-size: clamp(2.5rem, 6vw, 10rem);
}

.title_heading {
	width: 100%;
	height: 200px;
}

.-isAbsolute {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	text-align: center;
}

.-isFixed {
	position: fixed;
	top: 0;
	left: 0;
}

.-headingLarge {
	font-size: 15rem;

	@media screen and (min-width: $mobileS) {
		font-size: 20vw;
	}
	@media screen and (min-width: $laptop) {
		font-size: 20rem;
	}

	@media screen and (min-width: $desktop) {
		font-size: 25rem;
	}
}

.-hasPaddingLarge {
	padding: 15% 10% 0% 10%;

	@media screen and (max-width: $laptopL) {
		padding: 20% 5% 0% 5%;
	}
}

.-flexCenterAll {
	display: flex;
	align-items: center;
	justify-content: center;
}

.-isTiny {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-family: "Kobe";
}

.-isFlex {
	display: flex;
}

.-flexColumn {
	flex-direction: column;
}

.-isAbsolute__centered {
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.-isRelative {
	position: relative;
}

.-isFull {
	width: 100%;
	height: 100%;
}

.-hasWave {
	position: relative;
	overflow: hidden;

	.wave {
		position: absolute;

		left: 0;
		width: 110%;
		transform: translateX-(200px);
		transform: rotate(180deg);
	}
}

.-isOverflowHidden {
	overflow: hidden;
}

.-isBgOrange {
	background-color: $orange;
}

.-isBgBlue {
	background-color: $blue;
}

.-isBgYellow {
	background-color: $yellow;
}

.-isTextLight {
	color: $light;
}

.-isTextDark {
	color: $dark;
}
