.-p-large {
	font-size: clamp(2.5rem, 6vw, 10rem);
}

.-isLSectionOne {
	@include sectionLayoutOne;
}

.title_heading {
	width: 100%;
	height: 200px;
}

.-isAbsolute {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	text-align: center;
}

.-isFixed {
	position: fixed;
	top: 0;
	left: 0;
}

.-headingLarge {
	font-family: 'Konnect';
	letter-spacing: -1.2vw;
	font-size: 20rem;
	height: 100%;

	@media screen and (min-width: $mobileS) {
		font-size: 25vw;
	}
	

	@media screen and (min-width: $laptop) {
		font-size: 40vw;
		letter-spacing: -1.4rem;
	}
}






.-hasPaddingLarge {
	padding: 15% 10% 0% 10%;

	@media screen and (max-width: $laptopL) {
		padding: 20% 5% 0% 5%;
	}
}



.-flexCenterAll {
	display: flex;
	align-items: center;
	justify-content: center;
}

.-isTiny {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-family: "Kobe";
}

.-isFlex {
	display: flex;
}

.-flexColumn {
	flex-direction: column;
}

.-isAbsolute__centered {
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.-isRelative {
	position: relative;
}

.-isFull {
	width: 100%;
	height: 100%;
}


.-isOpposit {
	font-family: 'Opposit';
}

.-isUppercase {
	text-transform: uppercase;
}

.-headingMedium {
	font-size: 20vw;
}

.-hasWave {
	position: relative;
	overflow: hidden;

	.wave {
		position: absolute;

		left: 0;
		width: 110%;
		transform: translateX-(200px);
		transform: rotate(180deg);
	}
}

.-isOverflowHidden {
	overflow: hidden;
}

.-isBgLight {
	background-color: $light;
}

.-isBgOrange {
	background-color: $orange;
}

.-isBgBlue {
	background-color: $blue;
}

.-isBgYellow {
	background-color: $yellow;
}

.-isBgPink {
	background-color: $pink;
}

.-isTextLight {
	color: $light;
}

.-textAlignLeft {
	text-align: left;
}

.-textAlignRight {
	text-align: right;
}

.-textAlignCenter {
	text-align: center;
}

.-isTextPink {
	color: $pink;
}

.-isTextDark {
	color: $dark;
}
