
@import "keyframes";
@import "config";
@import "utils";
@import "anims";
@import "layouts";
@import "colorGrading";
@import "specific";


//Font config
// @font-face {
//   font-family: 'FK';
//   src: url('../../assets/fonts/NeueHaasGrotDisp-55Roman.otf') format("otf");
//   text-rendering: optimizeLegibility;
// }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#root,
.App {
	min-height: 100vh;
	color: $dark;
}

body {
	cursor: url("../../assets/images/cursor.svg");
}

#bounce-scene {
	z-index: 999999;
}


.scroll-wrapper,
.content-wrapper {
	height: 100%;
}

.line-wrapper {
	overflow: hidden;

	.fade-up-line {
		transform: translateY(100%);
		opacity: 0;
	}
}

[data-theme="orange"] {
	background-color: $pink;
	color: $orange;
}

[data-theme="blue"] {
	background-color: $blue;
	color: $pink;
}

body {
	min-height: 100vh;

	
	position: relative;
	position: relative;
}

.char-wrapper {
	display: inline-block;
	overflow-y: hidden;
	margin-left: -2vw;
	padding: 1vw;

	.char {
		transform: translateY(130%);
	}
}

section {
	min-height: 100vh;
	width: 100%;
}

.section-hero {
	position: relative;
}

.content-wrapper {
	min-height: 100vh;
	transition: 300ms ease;

	.title {
		overflow: hidden;
		font-size: 10vw;
		line-height: 12vw;
		white-space: nowrap;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.title_name {
			text-align: center;
		}
	}
}

.line-wrapper {
	white-space: nowrap;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
