
@import "config";
@import "utils";
@import "anims";
@import "layouts";
@import "colorGrading";
@import "specific";

// @font-face {
// 	font-family: "FK";
// 	src: url("../../fonts/FKScreamerTrial-Black.otf");
// 	font-weight: 200;
// 	text-rendering: optimizeLegibility;
// }

// @font-face {
// 	font-family: "Opposit";
// 	src: url("../../fonts/Opposit-SemiBold.otf")format("otf");
// 	font-weight: 200;
// 	text-rendering: optimizeLegibility;
// }

// @font-face {
// 	font-family: "Molde";
// 	src: url("./assets/fonts/Molde.otf")format("otf");
// 	font-weight: 200;
// 	text-rendering: optimizeLegibility;
// }


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, #root, .App {
	height: 100%;
	color: $dark;
}

#bounce-scene {
	z-index: 999999;
}

h1,
h2 {
	font-family: "FK";
	font-weight: lighter;
}

p {
	font-family: "Opposit";
}

.scroll-wrapper,
.content-wrapper {
	height: 100%;
}

.line-wrapper {
	overflow: hidden;

	.fade-up-line {
		transform: translateY(100%);
		opacity: 0;
	}
}

[data-theme="orange"] {
	background-color: $pink;
	color: $orange;
}

[data-theme="blue"] {
	background-color: $blue;
	color: $pink;
}

body {
	min-height: 100vh;
	font-family: "NeueMtl";
	cursor: none !important;
	position: relative;
	position: relative;
}


.char-wrapper {
	display: inline-block;
	overflow-y: hidden;
	margin-left: -2vw;
	padding: 1vw;

	.char {
		transform: translateY(130%);
	}
}

section {
	height: 100vh;
	width: 100%;
}

.section-hero {
	position: relative;
}

.content-wrapper {
	min-height: 100vh;
	transition: 300ms ease;

	.title {
		overflow: hidden;
		font-size: 10vw;
		line-height: 12vw;
		font-family: "Opposit";
		white-space: nowrap;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.title_name {
			text-align: center;
		}

		.line {
			white-space: nowrap;
		}
	}
}

.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	.grid__item {
		border: 2px solid white;

		&:nth-of-type(1) {
			grid-column: 2/6;
		}

		&:nth-of-type(2) {
			grid-column: 4/7;
			margin-top: -3vw;
		}
	}
}
