.c-nav {
	height: 4rem;
	width: 3.4rem;
	z-index: 999;

	&_link {
		border: 0px;
		background: transparent;

		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;

		position: relative;
		height: 100%;
		width: 100%;

		&:hover .c-nav_burger::after {
			transform: scaleX(0.5);
		}

		&:hover .c-nav_burger::before {
			transform: scaleX(1);
		}
	}
}

.c-nav_link {
	.c-nav_burger {
		width: 90%;
		height: 27%;
		position: relative;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: "";
			width: 100%;
			height: 3px;
			transition: 200ms ease;
			transform-origin: right;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 100%;

			height: 3px;

			transition: 200ms ease;
			transform: scaleX(0.5);
			transform-origin: right;
		}
	}
}

.c-nav.is-active {
	.c-nav_drawer {
		transform: scaleX(1);
		opacity: 1;

		a {
			transform: translate(0);
			opacity: 1;
			position: relative;

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				content: "";
				transform-origin: left;
				transform: scaleX(0);
				transition: 400ms ease;
			}

			&:hover {
				transform: translateY(-20%);

				&::after {
					transform: scaleX(1);
				}
			}
		}
	}

	.c-nav_burger::after {
		background-color: $light;
		top: 50%;
		left: 50%;
		transform: rotate(-45deg) scaleX(1);
		transform-origin: center;
		width: 70%;
	}

	.c-nav_burger::before {
		background-color: $light;
		transform-origin: center;
		transform: rotate(45deg) scaleX(1);
		top: 50%;
		left: 50%;
		width: 70%;
	}
}

.c-nav_drawer {
	position: absolute;
	top: 0;
	right: 0;
	width: 230px;
	background-color: $dark;
	height: 100%;
	border-radius: 50px;
	z-index: -2;
	transform-origin: right;
	transform: scaleX(0.02);
	opacity: 0;
	transition: $transition;
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	color: $light;

	&__inner {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: 3rem;

		a {
			font-family: "Riposte";

			transform: translateX(100%);
			opacity: 0;
			transition: 200ms ease;

			&:first-child {
				margin-right: 1.4rem;
			}
		}
	}
}

.c-nav.-desktop {
	width: auto;
	height: 100%;

	ul {
		display: flex;
		align-items: center;
		height: 100%;
		font-size: 1.2rem;

		li {
			transition: 400ms ease;

			&:hover {
				opacity: 0.4;
			}

			button {
				border: 0px;
				background: transparent;
				font-family: "Riposte";
				font-size: 1.5rem;
			}
		}

		li:not(:last-child) {
			margin-right: 2.2rem;
		}
	}
}
