@keyframes bounce {
  0% {
    transform: translate(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

.-p-large {
  font-size: clamp(2.5rem, 6vw, 10rem);
}

.-isLSectionOne {
  width: calc(100% - 10rem);
  max-width: 1766px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .-isLSectionOne {
    width: calc(100% - 5rem);
  }
}

.title_heading {
  width: 100%;
  height: 200px;
}

.-isAbsolute {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  text-align: center;
}

.-isFixed {
  position: fixed;
  top: 0;
  left: 0;
}

.-headingLarge {
  font-size: 15rem;
}

@media screen and (min-width: 320px) {
  .-headingLarge {
    font-size: 20vw;
  }
}

@media screen and (min-width: 1024px) {
  .-headingLarge {
    font-size: 20rem;
  }
}

@media screen and (min-width: 1800px) {
  .-headingLarge {
    font-size: 25rem;
  }
}

.-hasPaddingLarge {
  padding: 15% 10% 0% 10%;
}

@media screen and (max-width: 1440px) {
  .-hasPaddingLarge {
    padding: 20% 5% 0% 5%;
  }
}

.-flexCenterAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.-isTiny {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: "Kobe";
}

.-isFlex {
  display: flex;
}

.-flexColumn {
  flex-direction: column;
}

.-isAbsolute__centered {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.-isRelative {
  position: relative;
}

.-isFull {
  width: 100%;
  height: 100%;
}

.-isOpposit {
  font-family: 'Opposit';
}

.-isUppercase {
  text-transform: uppercase;
}

.-headingMedium {
  font-size: 20vw;
}

.-hasWave {
  position: relative;
  overflow: hidden;
}

.-hasWave .wave {
  position: absolute;
  left: 0;
  width: 110%;
  transform: translateX-(200px);
  transform: rotate(180deg);
}

.-isOverflowHidden {
  overflow: hidden;
}

.-isBgLight {
  background-color: #f4f1eb;
}

.-isBgOrange {
  background-color: #e76435;
}

.-isBgBlue {
  background-color: #4e8ca2;
}

.-isBgYellow {
  background-color: #faf281;
}

.-isBgPink {
  background-color: #f1b9b8;
}

.-isTextLight {
  color: #f4f1eb;
}

.-textAlignLeft {
  text-align: left;
}

.-textAlignRight {
  text-align: right;
}

.-textAlignCenter {
  text-align: center;
}

.-isTextPink {
  color: #f1b9b8;
}

.-isTextDark {
  color: #181818;
}

.rotating-el {
  display: inline;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.entry-screen {
  z-index: 999;
  clip-path: url(#transition-clipPath__clip);
}

.entry-screen .entry-screen__text {
  width: 100%;
  height: 200px;
}

.entry-screen .char {
  transform: translateY(100%);
  opacity: 0;
  display: inline;
}

.scrollCta {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 4rem;
  transform: translateX(-50%);
  animation-direction: alternate-reverse;
}

.blobOne {
  position: absolute;
}

.blobOne .blobOne__path {
  transform: scale(0.002);
  transform-origin: center;
}

#blobOne__clip {
  transform: scale(0.0049, 0.005);
}

.sticky-wrapper {
  position: relative;
}

.sticky-wrapper .section-about {
  clip-path: url(#blobOne__clip);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.image-gallery-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  margin-top: 30vw;
}

.image-gallery-container .image-gallery__item {
  overflow: hidden;
}

.image-gallery-container .image-gallery__item__image-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
}

.image-gallery-container .image-gallery__item__image-wrapper .image-gallery__item__image {
  width: 100%;
  height: auto;
}

.image-gallery-container .image-gallery__item:nth-of-type(1) {
  grid-column: 1/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(2) {
  grid-column: 2/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(3) {
  grid-column: 4/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(4) {
  grid-column: 1/span 1;
  transform: translate(10vw, -10vw);
}

.image-gallery-container .image-gallery__item:nth-of-type(5) {
  grid-column: 3/span 2;
}

.image-gallery-container .image-gallery__item:nth-of-type(6) {
  grid-column: 1/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(7) {
  grid-column: 2/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(8) {
  grid-column: 4/span 1;
  transform: translateY(-10vw);
}

.image-gallery-container .image-gallery__item:nth-of-type(9) {
  grid-column: 2/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(10) {
  grid-column: 3/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(11) {
  grid-column: 4/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(12) {
  grid-column: 1/span 2;
}

.image-gallery-container .image-gallery__item:nth-of-type(13) {
  grid-column: 4/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(17) {
  grid-column: 1/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(19) {
  grid-column: 4/span 1;
}

.image-gallery-container .image-gallery__item:nth-of-type(21) {
  grid-column: 3/span 2;
}

.image-gallery-container .image-gallery__item:nth-of-type(24) {
  grid-column: 4/span 1;
}

.title_heading span:not(:nth-of-type(1)) {
  opacity: 0;
}

@media screen and (min-width: 425px) {
  .entry-screen h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 320px) {
  .entry-screen h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .entry-screen h2 {
    font-size: 3.6rem;
  }
}

.cursor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f4f1eb;
  position: fixed;
  top: 0;
  z-index: 99999;
  transform: translate(-50%, -50%);
}

.transition-clipPath {
  position: absolute;
}

#transition-clipPath__clip {
  transform: scale(0.00105, 0.0019);
}

#transition-clipPath__clip path {
  height: 100%;
}

#cursor-follower {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f4f1eb;
  opacity: 0.8;
}

form {
  padding: 0 4rem;
  width: 90vw;
}

form input {
  height: 2em;
  padding: 1em;
}

form input, form textarea {
  font-family: 'Opposit';
  margin-bottom: 2rem;
  border: 0px;
  background: transparent;
  border-bottom: 1px solid #f4f1eb;
  color: #f4f1eb;
  font-size: 3rem;
  padding: 0;
}

form input:focus, form textarea:focus {
  outline: none;
}

#contactCta {
  position: fixed;
  bottom: 0;
  right: 0;
  border: none;
  background-color: transparent;
  margin: 5vw;
  z-index: 99999;
}

#contactCta .btn__circle {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#contactCta .contactCta__pencil, #contactCta .contactCta__close {
  z-index: 2;
  transition: 300ms ease;
}

#contactCta .contactCta__close {
  fill: #f4f1eb;
}

@media screen and (min-width: 425px) {
  #contactCta {
    width: 100%;
    height: 100%;
  }
  #contactCta .contactCta__pencil {
    width: 20px;
  }
}

@media screen and (min-width: 768px) {
  #contactCta {
    width: 100px;
    height: 100px;
  }
  #contactCta .contactCta__pencil {
    width: 30px;
  }
  #contactCta .contactCta__close {
    width: 40px;
  }
}

@media screen and (min-width: 1800px) {
  #contactCta {
    width: 150px;
    height: 150px;
  }
}

#modal {
  z-index: 9999;
  clip-path: url(#transition-clipPath__clip);
}

.modal__contact__heading {
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.modal__contact__info-wrapper .info-group__location {
  font-size: 16vw;
  line-height: 13vw;
}

.modal__contact__info-wrapper .info-group__location span {
  font-family: 'FK';
  display: block;
  width: 100%;
}

.btn-circle__circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
}

button.btn-regular {
  text-transform: uppercase;
  border: 0px;
}

@media screen and (max-width: 768px) {
  button.btn-regular {
    width: 6.5rem;
    height: 3rem;
    border: 0px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  button.btn-regular {
    width: 9rem;
    height: 4rem;
    border: 0px;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  button.btn-regular {
    width: 18rem;
    height: 6rem;
    border: 0px;
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}

#contactCta {
  bottom: 0;
  right: 0;
  position: fixed;
}

.btn-group {
  margin-top: 2rem;
}

.btn-group button:nth-of-type(1) {
  margin-right: 2rem;
}

.btn-regular:hover .mouseOver-circle {
  transform: scale(4);
}

.btn-regular .mouseOver-circle {
  transition: 1s ease;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #faf281;
  z-index: -1;
  top: 50%;
  left: -50%;
  transform: scale(0.2);
  border-radius: 50%;
}

.btn-regular {
  overflow: hidden;
  position: relative;
}

button {
  z-index: 0;
}

.button-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-footer {
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #5b487c;
  z-index: -1;
  padding: 10rem;
  color: #f1b9b8;
}

main {
  position: sticky;
  margin-bottom: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  min-height: 100vh;
  color: #181818;
}

body {
  cursor: url("../../assets/images/cursor.svg");
}

#bounce-scene {
  z-index: 999999;
}

.scroll-wrapper,
.content-wrapper {
  height: 100%;
}

.line-wrapper {
  overflow: hidden;
}

.line-wrapper .fade-up-line {
  transform: translateY(100%);
  opacity: 0;
}

[data-theme="orange"] {
  background-color: #f1b9b8;
  color: #e76435;
}

[data-theme="blue"] {
  background-color: #4e8ca2;
  color: #f1b9b8;
}

body {
  min-height: 100vh;
  position: relative;
  position: relative;
}

.char-wrapper {
  display: inline-block;
  overflow-y: hidden;
  margin-left: -2vw;
  padding: 1vw;
}

.char-wrapper .char {
  transform: translateY(130%);
}

section {
  min-height: 100vh;
  width: 100%;
}

.section-hero {
  position: relative;
}

.content-wrapper {
  min-height: 100vh;
  transition: 300ms ease;
}

.content-wrapper .title {
  overflow: hidden;
  font-size: 10vw;
  line-height: 12vw;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-wrapper .title .title_name {
  text-align: center;
}

.line-wrapper {
  white-space: nowrap;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
